#dashboard
  #notifications
    - if @notification.present?
      = button_to "Unsubscribe from notifications", organization_notification_path(@organization, @notification), :remote => true, :method => :delete, :class => "button left"
    - else
      = button_to "Subscribe to notifications", organization_notifications_path(@organization), :remote => true, :method => :post, :class => "button left"
    .clear

  - if Rails.application.config.allow_search
    = form_tag organization_path, :class => "right", :method => :get do
      = text_field_tag :search, params[:search]
      = submit_tag "Search", name: nil
  .clear

  = render "project_filters"

  %a{:href =>'#', :class =>["scrollup", "icon-chevron-up"]}

  .clearfix
  - @organization.projects.current && @organization.projects.current.sort_by{|p| Project.STATES.keys.index(p.state) }.each_with_index do |project, index|
    = render project
    - if (index + 1) % 2 == 0
      .clear
  .clear

.clearfix.completed
  - if @organization.projects.completed.present?
    = link_to "View Completed Projects", completed_organization_path(@organization), :class => "button faded"
